.forgot_password_container{
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    background-color: #000000D5;;
    color: rgba(244,244,244,0.5);
}
.forgot_password_card{
    display: flex;
    width: 465px;
    height: 400px;
    padding-top: 15px;
    justify-content: center;
    background-color: #203967;
}
.forgot_password_card_content{
    display: flex;
    width: 360px;
    flex-direction: column;
    align-items: center;
}
.forgot_password_icon{
    display: flex;
    width: 60px;
    height: 60px;
    margin-bottom: 20px;
}
.forgot_password_title{
    margin-bottom: 20px;
    color: #f4f4f4;
}
.forgot_password_email{
    width: 342px;
    height: 40px;
    padding-left: 14px;
    margin-top: 25px;
}
.forgot_password_buttom{
    width: 250px;
    height: 50px;
    margin-top: 30px;
    background-color: #0f0f0fb2 ;
    border-color: transparent;
    border-radius: 5px;
    color: rgba(244,244,244,0.5);
    font-family: "Roboto";
}
.forgot_password_signin{
    display: flex;
    justify-content: space-around;
    width: 245px;
    margin-top: 20px;
}
.forgot_password_link{
    color: #f4f4f4;
}